.footer {
  position: relative;

  margin-top: 80px;
  padding: 34px 0 30px;

  background-color: #3f5252;

  @include tablet {
    margin-top: 128px;
    padding: 50px 0 30px;
  }

  @include desktop {
    margin-top: 200px;
  }

  &__content {
    @include page-grid;
  }

  &__title {
    margin-bottom: 10px;

    color: #f1f5f4;
    font-size: 18px;
    line-height: 150%;

    &--main {
      font-size: 20px;
    }

    @include tablet {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  &__contacts {
    grid-column: 1 / -1;

    @include tablet {
      grid-column: 1 / 3;
    }

    @include desktop {
      grid-column: 1 / 4;
    }
  }

  &__adress,
  &__phone,
  &__email {
    display: block;
    color: #f1f5f4;
    font-size: 16px;
    line-height: 150%;
  }

  &__socials {
    margin-top: 30px;

    display: flex;
    column-gap: 20px;

    @include tablet {
      margin-top: 50px;
    }
  }

  &__shedule {
    margin-top: 50px;
    grid-column: 1 / -1;

    @include tablet {
      margin-top: 0;
      grid-column: 3 / 5;
    }

        @include desktop {
      grid-column: 5 / 7;
    }
  }

  &__list {
    list-style: none;

    &__item,
    &__link {
      color: #f1f5f4;
      font-size: 16px;
      line-height: 150%;
    }

    &__link {
      display: block;
      height: 23px;
      margin-bottom: 5px;

      @include tablet {
        margin-bottom: 10px;
      }
    }
  }

  &__menu {
    margin-top: 50px;
    grid-column: 1 / -1;

    @include tablet {
      margin-top: 0;
      grid-column: 5 / -1;
    }

        @include desktop {
      grid-column: 9 / 11;
    }
  }

  &__terms {
    margin-top: 55px;

    grid-column: 1 / -1;

    display: flex;
    column-gap: 22px;

    color: #f1f5f4;
    font-size: 14px;
    line-height: 140%;

    @include tablet {
      margin-top: 60px;
    }

    @include desktop {
      margin-top: 70px;
    }
  }

  &__scroll-up {
    position: absolute;
    right: 20px;
    bottom: 30px;

    width: 30px;
    height: 30px;
    background-image: url(../images/footer/scroll-up.png);
    background-size: cover;

    @include tablet {
      right: 40px;
    }

    @include desktop {
      right: 55px;
    }
  }
}
